:root {
  --height: 55px;
  --margin: 7px;
  --padding: 5px;
  --primary-color: #4990e2;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  color: #777;
}

.hero {
  max-width: 380px;
  margin: 0 auto;
}

.wrap {
  position: relative;
  width: 400px;
  height: var(--height);
  margin: 10px auto;
  font-weight: 300;
}

.wrap svg,
output,
.tick-container {
  position: absolute;
  margin: calc(var(--margin) + var(--padding));
}

.wrap {
  --dim: calc(100% - (var(--margin) * 2 + var(--padding) * 2));
  svg,
  .tick-container {
    width: var(--dim);
    height: var(--dim);
  }

  output {
    right: 0;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  .tick-container {
    opacity: 0;
    transition: opacity 130ms;
  }
  .timespan-tick {
    box-sizing: border-box;
    display: block;
    position: absolute;
    height: 100%;
    width: 100px;
    margin: 0;
    padding: 0;
    border-right: 1px dotted rgba(230, 230, 230, 1);
    text-align: right;
    padding: 0 4px;
  }
}

.timeline-slope {
  fill: var(--primary-color);
}
.timeline-slope.gray {
  fill: #ccc;
}

input[type="range"] {
  appearance: none !important;
  -webkit-appearance: none !important;
  background: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: var(--padding);
  z-index: 2;
  outline: 1px solid transparent;
  margin: 0;

  transition: all 130ms;

  &:focus,
  &:hover {
    ~ .tick-container {
      opacity: 1;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: 1px solid color-mix(in srgb, var(--primary-color) 20%, transparent);
  }
}

input[type="range"]::-webkit-slider-thumb {
  --dim: calc(var(--margin) * 2);
  -webkit-appearance: none !important;
  position: relative;
  z-index: 1;
  width: var(--dim);
  height: var(--dim);
  margin-top: calc(var(--height) - (var(--margin) * 2) - (var(--padding) * 2));

  border-radius: 50%;
  background: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
}
